<div class="wrapper">
    <form class="form-update"  (ngSubmit)="onSubmit(checkoutForm.value)">
        <label>Name</label>
        <input type="text" name="name" placeholder="Name" formControlName="name"/>
        <label>Description</label>
        <textarea placeholder="Description" name="description" formControlName="description"></textarea>
        <label>User</label>
        <input type="text" placeholder="User"/>
        <label>Start date</label>
        <input type="date"/>
        <label>End date</label>
        <input type="date" />
        <div class="btn-container">
            <button class="btn">Save</button>
        </div>
    </form>
</div>