<div class="wrapper">
    <form class="form-update">
        <label>Name</label>
        <input type="text" placeholder="Name"/>
        <label>Date</label>
        <input type="date" />
        <label>Description</label>
        <textarea placeholder="Description"></textarea>
        <label>User</label>
        <input type="text" placeholder="User"/>
        <label>Start date</label>
        <input type="date" />
        <label>End date</label>
        <input type="date" />
        <div class="btn-container">
        <button class="btn">Save</button>
    </div>
    </form>
    <div class="card-event">
        <app-event></app-event>
    </div>
</div>